* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(220, 241, 241);

}

/* here is the navigation bar */

#navbar {
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    width: 100%;
}

#navbar img {
    height: 65px;
    width: 70px;
    cursor: pointer;
}
#navbar ul {
    display: flex;
    padding: 0px 70px;
    list-style: none;
}

.content{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

.content a{
    text-decoration: none;
    color: aliceblue;
    /* padding: 3px 0px; */
    border-radius: 12px;
    opacity: 0.9;
}

.content :hover{
    color: black;
    background-color: aliceblue;
    padding: 3px 6px;
}

/* Order Button */

.btn {
    display: block;
    margin: auto;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin-top: 100px;
    background-color: rgb(255, 168, 127);
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    margin-bottom: 20px;
}

/* here is the code of hamburger menu */

#ham-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}

.hambar {
    background-color: red;
    border-radius: 5px;
    margin: 3px;
    height: 4px;
    width: 20px;
}

#ham-item {
    display: flex;
    flex-direction: column;
    display: none;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    position: fixed;
    
    top: 80px;
    right: 4px;
}

.ham-cont {
    list-style: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.ham-cont a {
    text-decoration: none;
    color: white;
    
}

.ham-cont :hover {
    text-decoration: underline;
}

/* here is the home content and background */

#home {
    display: flex;
    flex-direction: column;
    background: url(images/home.jpg) no-repeat center center/cover;
    height: auto;
    width: 100%;
}

#home h1 {
    display: blocks;
    font-size: 5rem;
    padding-top: 80px;
    text-align: center;
}

#home span {
    display: block;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#home span img {
    position: relative;
    top: 17px;
    height: 100px;
    width: 100px;
}

/* service section */

.service-content {
    display: flex;
    text-align: center;
    align-items: center;
    width: 900px;
    margin: auto;
}

#service h1 {
    text-align: center;
    font-size: 5rem;
    padding: 50px;
}

#service h2 {
    text-align: center;
    font-size: 1.3rem;
}

.box {
    border: 2px solid green;
    border-radius: 15px;
    height: auto;
    padding: 10px;
    margin: 15px;
}

#service .box img {
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* sign up box  */

#sign {
    display: block;
    border: 2px solid black;
    margin: 2px 2px;
    padding: 2px 2px;
    width: 33%;
    margin: auto;
    margin-top: 100px;
    background-color: black;
}

#sign h1 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .cont{
    display: flex;
} */

.sign-cont {
    text-align: center;
    margin: 20px;
    background-image: radial-gradient(circle 369px at -2.9% 12.9%,
            rgba(247, 234, 163, 1) 0%,
            rgba(236, 180, 238, 0.56) 46.4%,
            rgba(163, 203, 247, 1) 100.7%);
}

.sing-item {
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

#submit{
    padding: 9px 15px;
    margin: 7px;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    opacity: 0.76;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    cursor: pointer;
}
@media (min-width: 1412px){
    #submit{
        display: block;
        margin: auto;
    }
    .sign-cont{
        padding: 12pxcont;
    }
}

/* Contact Section */

#contact{
    background-image: radial-gradient(circle 700px at -2.9% 12.9%,
        rgb(242, 235, 134)3%,
        rgb(255, 193, 203)80%,
        rgb(191, 191, 248)230%,
        rgb(253, 194, 253)607%);
    margin: 80px 4px;
    text-align: center;
    height: 150px;
}
.connect img{
    height: 20px;
    width: 20px;
    margin: 40px;
    cursor: pointer;
}

.connect img:hover{
    height: 30px;
    width: 30px;   
}

#contact h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

/* Chat Button */

#chat{
    position: fixed;
    right: 8px;
    bottom: 20px;
    border-radius: 35px;
    padding: 5px 10px;
    background-color: rgb(162, 162, 226);
    border: none;
    opacity: 0.4;
    cursor: pointer;
}
#chat:hover{
    opacity: 1;
    bottom: 25px;

}

#chat img{
    margin: 5px;
    height: 20px;
    width: 20px;
}